<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <header class="head">
        <img class="head image" src="/error.svg" alt="error" height="350"
        width="350"/>
        <h1>Something's wrong here.</h1>
    </header>
    <section class="section-white">
        <div class="container-center">
            <p>This is a 404 error, which means you've clicked on a bad link or entered an invalid URL.
                Please Try Again! P.S. Link-Snip links are case sensitive.
            </p>
        </div>
    </section>
</body>
</html>